.list-header {
  background: #f7f7f7;
  border: 1px solid darken(#f7f7f7, 7%);
  color: #666;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid darken(#f7f7f7, 7%);
  border-top: none;
  color: $dark-grey;
  padding: $s-size;
  text-decoration: none;
  h3 {
    font-weight: 500;
  }
  transition: background 0.3s ease;
  &:hover {
    background: #f7f7f7;
  }
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $m-size;
  }
}

.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item--message {
  align-items: center;
  justify-content: center;
  color: #666;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: #666;
  font-size: 1.4rem;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}
